version: '3'

networks:
  web:
    external: true
  app:

volumes:
  mysql_data:
  wp_data:

services:
  mysql:
    image: mysql:5.7
    container_name: mysql
    restart: unless-stopped
    networks:
      - app
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: sdfascsdvsfdvweliuo
        MYSQL_DATABASE: wordpress
        MYSQL_USER: mehrdad
        MYSQL_PASSWORD: sdfascsiquowecefcwaefef

  wordpress:
    image: wordpress:latest
    container_name: wordpress
    restart: unless-stopped
    networks:
      - web
      - app
    volumes:
      - wp_data:/var/www/html/
    depends_on:
      - mysql
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - WORDPRESS_DATABASE_HOST=mysql
      - WORDPRESS_DATABASE_PORT_NUMBER=3306
      - WORDPRESS_DATABASE_USER=mehrdad
      - WORDPRESS_DATABASE_NAME=wordpress